@import "header";

.search {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: #fff;
  width: 100%;
  display: none;

  input {
    width: 100%;
    height: 43px !important;

    &.form-control {
      border-radius: 0;
    }
  }
}

.yandex-map {
  height: 400px;
  width: 100%;
}

.main-content {
  .h5 {
    font-weight: bold;
  }
}
@import "nav";
@import "carousel";
@import "category";
@import "advantage";
@import "manufacturer";
@import "blog";
@import "product";
@import "footer";

.modal {
  &__image {
    img {
      width: 100%;
      display: block;
      margin: 0 auto;
      max-width: 250px;
    }
  }
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.submenu {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    ul {
      padding-left: 5px;
      li:before {
        content: "-";
        text-indent: -5px;
      }
    }
    li {
      padding: 5px 0;
    }
    a {
      color: #000;
    }
  }
}
.lb-number {
  display: none !important;
}

.full-screen {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 991px) {
  .catalog-row {
    flex-direction: row-reverse;
  }
}